:root{
    --stdMargin: 4rem;
}



*{
    background: #F5F5F5;
    margin: 0;
    padding: 0;
}

#LandingPage{
    display: grid;
    margin: 0 var(--stdMargin);
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}


#image{
    position: absolute;
    width: 823px;
    height: 537px;
    left: 997px;
    top: 347px;    
}

#logo{
    position: absolute;
    width: 3.7rem;
    top: 1rem;
    grid-column-start: 1;
}

#websiteName{
    position:absolute;
    margin-left: 4.7rem;
    top: 1.55rem;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;  
    color: #000000;
    grid-column-start: 2;
}

#home{
    position:absolute;
    margin-left: 42.7rem;
    margin-top: 2.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    
    color: #000000;
    cursor: pointer;
}

#contactUs{
    position:absolute;
    margin-left: 47.5rem;
    margin-top: 2.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    
    color: #000000;
    cursor: pointer;
}

#signIn{
    position:absolute;
    margin-left: 52.8rem;
    margin-top: 2.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    
    color: #000000;
    cursor: pointer;
}

.custom-select{
    position:relative;
    left: 57.04rem;
    top: 2.3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    
    color: #000000;
    background-color: #5FD0D0;
    padding: 4px 8px;
    border: 0.5px solid transparent;
    cursor: pointer;
}

#aboutUs{
    position: absolute;
    margin-left: 67.01rem;
    margin-top: 0.78rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    
    color: #000000;
    cursor: pointer;
}

#heroText{
    position: absolute;
    left: 4rem;
    margin-top: 15rem;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    grid-column-end: 5;
}

#heroDescription{
    position: absolute;
    left: 4rem;
    margin-top: 25rem;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    
    color: #707070;        
}

#image{
    position: absolute;
    width: 600px;
    height: 380px;
    left: 40rem;
    top: 210px;
    
    border-radius: 5px;    
}


